aiohttp==3.8.6
aiosignal==1.3.1
akatsuki-pp-py==1.0.0
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
discord-webhook==1.3.0
discord.py==2.3.2
fastapi==0.103.2
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
httptools==0.6.0
idna==3.4
multidict==6.0.4
oauthlib==3.2.2
osrparse==6.0.2
ossapi==3.3.7
osu==1.2.4
psutil==5.9.5
psycopg2-binary==2.9.9
pydantic==2.4.2
pydantic_core==2.10.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-logging-discord-handler==0.1.4
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.21
starlette==0.27.0
typing-utils==0.1.0
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
yarl==1.9.2
pycountry==22.3.5